<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script>
	$(document).ready(function(){
		$('#addbtn').click(function(){
			$('#addform').submit();	
		});
	});
</script>
</head>
<body>


<div class="container-fluid">
	<div th:include="/include/menu::sidemenu"></div>
			<h1>가게부 입력</h1>	
			<form id="addform" method="post" action="/addCash">
				<table>
					<tr>
						<th><label for="categoryName">카테고리</label></th>
				<td>
					<select id="categoryName" name="categoryName">
						<option value="">카테고리를 선택하세요</option>
						<option th:each="category:${categoryList}" th:value="${category.categoryName}" th:text="${category.categoryName}">
					</select>
				</td>
					</tr>
					<tr>
						<th>수입 지출</th>
						<td>
							<select id="cashFind" name="cashFind">
								<option value=""> 수입 /지출 선택 </option>
								<option value="수입" th:selected="${cash.cashFind eq'수입'}"> 수입 </option>
								<option value="지출" th:selected="${cash.cashFind eq'지출'}"> 지출 </option>
							</select>						
						</td>
					</tr>
					<tr>
						<th>금액</th>
						<td>
							<input type="text" id="cashPrice" name="cashPrice" th:value="${cashPrice}">						
						</td>
					</tr>
					<tr>
						<th>장소</th>
						<td>
							<input type="text" id="cashPlace" name="cashPlace" th:value="${cashPlace}">
						</td>
					</tr>
					<tr>
						<th>메모</th>
						<td>
							<textarea rows="3" id="cashMemo" name="cashMemo" th:value="${cashMemo}"></textarea>
						</td>
					</tr>
					<tr>
						<th>날짜</th>
						<td>
							<input type="text" id="cashDate" name="cashDate" th:value="${cashDate}">
						</td>
					</tr>
					
					
				</table>
			
					<div>
						<button id="addbtn" type="button">입력</button>
					</div>
			</form>

</div>
</body>
</html>